Practical questions (Data Types and Structures) (Code)

### 1) Create a string with your name and print it

In [5]:
name = 'Mohit'
print('my name is',name)

my name is Mohit

### 2) Length of 'Hello World'

In [2]:
s = 'Hello World'
print(len(s))

11

### 3) Slice first 3 chars from 'Python Programming'

In [6]:
s = 'Python Programming'
print(s[:3])

Pyt

### 4) Convert 'hello' to uppercase

In [7]:
s = 'hello'
print(s.upper())

HELLO

### 5) Replace 'apple' with 'orange'

In [8]:
s = 'I like apple'
print(s.replace('apple','orange'))

I like orange

### 6) Create list 1..5

In [9]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

### 7) Append 10 to [1,2,3,4]

In [10]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### 8) Remove 3 from [1,2,3,4,5]

In [11]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### 9) Access 2nd element ['a','b','c','d']

In [12]:
lst=['a','b','c','d']
print(lst[1])

b

### 10) Reverse [10,20,30,40,50]

In [13]:
lst=[10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### 11) Create tuple (100,200,300)

In [14]:
tpl=(100,200,300)
print(tpl)

(100, 200, 300)

### 12) Access 2nd-last ('red','green','blue','yellow')

In [15]:
tpl=('red','green','blue','yellow')
print(tpl[-2])

blue

### 13) Min in (10,20,5,15)

In [16]:
tpl=(10,20,5,15)
print(min(tpl))

5

### 14) Index of 'cat'

In [17]:
tpl=('dog','cat','rabbit')
print(tpl.index('cat'))

1

### 15) Fruits tuple & check 'kiwi'

In [18]:
tpl=('apple','banana','mango')
print('kiwi' in tpl)

False

### 16) Create set {'a','b','c'}

In [19]:
st={'a','b','c'}
print(st)

{'c', 'b', 'a'}

### 17) Clear set {1,2,3,4,5}

In [20]:
st={1,2,3,4,5}
st.clear()
print(st)

set()

### 18) Remove 4 from {1,2,3,4}

In [21]:
st={1,2,3,4}
st.remove(4)
print(st)

{1, 2, 3}

### 19) Union {1,2,3} & {3,4,5}

In [22]:
a={1,2,3}; b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

### 20) Intersection {1,2,3} & {2,3,4}

In [23]:
a={1,2,3}; b={2,3,4}
print(a&b)

{2, 3}

### 21) Create dict with keys

In [24]:
d={'name':'John','age':25,'city':'NY'}
print(d)

{'name': 'John', 'age': 25, 'city': 'NY'}

### 22) Add 'country':'USA'

In [25]:
d={'name':'John','age':25}
d['country']='USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23) Access 'name' value

In [26]:
d={'name':'Alice','age':30}
print(d['name'])

Alice

### 24) Remove 'age'

In [27]:
d={'name':'Bob','age':22,'city':'NY'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'NY'}

### 25) Check if 'city' exists

In [28]:
d={'name':'Alice','city':'Paris'}
print('city' in d)

True

### 26) Create list, tuple, dict

In [29]:
lst=[1,2,3]; tpl=(4,5,6); d={'a':1,'b':2}
print(lst,tpl,d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

### 27) Random list sort

In [30]:
import random
lst=random.sample(range(1,101),5)
lst.sort()
print(lst)

[2, 23, 36, 71, 89]

### 28) List with strings, 3rd index

In [31]:
lst=['a','b','c','d','e']
print(lst[3])

d

### 29) Combine two dicts

In [32]:
d1={'a':1,'b':2}; d2={'c':3,'d':4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30) Convert list of strings to set

In [33]:
lst=['a','b','a','c']
print(set(lst))

{'c', 'b', 'a'}