#Practical Questions

### 1) Sum of even numbers

In [1]:
def sum_even(lst):
    return sum(x for x in lst if x%2==0)
print(sum_even([1,2,3,4,5,6]))

12

### 2) Reverse string

In [2]:
def reverse_str(s): return s[::-1]
print(reverse_str('hello'))

olleh

### 3) Squares of numbers

In [3]:
def squares(lst): return [x*x for x in lst]
print(squares([1,2,3,4]))

[1, 4, 9, 16]

### 4) Prime check 1-200

In [4]:
def is_prime(n):
    if n<2: return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0: return False
    return True
primes=[x for x in range(1,201) if is_prime(x)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

### 5) Iterator Fibonacci

In [5]:
class Fibonacci:
    def __init__(self,n): self.n=n; self.a=0; self.b=1; self.count=0
    def __iter__(self): return self
    def __next__(self):
        if self.count>=self.n: raise StopIteration
        if self.count==0: self.count+=1; return 0
        elif self.count==1: self.count+=1; return 1
        else:
            self.a,self.b=self.b,self.a+self.b
            self.count+=1
            return self.b
print(list(Fibonacci(10)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 6) Generator powers of 2

In [6]:
def gen_powers(n):
    for i in range(n+1): yield 2**i
print(list(gen_powers(5)))

[1, 2, 4, 8, 16, 32]

### 7) Generator read file

In [24]:
def read_file(fname):
    with open(fname) as f:
        for line in f: yield line.strip()
# usage: for l in read_file('sample.txt'): print(l)

### 8) Lambda sort by 2nd

In [8]:
lst=[(1,3),(2,1),(3,2)]
lst.sort(key=lambda x:x[1])
print(lst)

[(2, 1), (3, 2), (1, 3)]

### 9) Map Celsius->F

In [12]:
temps=[0,10,20]
print(list(map(lambda c:(9/5)*c+32,temps)))

[32.0, 50.0, 68.0]

### 10) Filter remove vowels

In [13]:
s='hello world'
vowels='aeiou'
print(''.join(filter(lambda ch: ch not in vowels,s)))

hll wrld

### 11) Accounting routine

In [14]:
orders=[[34587,'Learning Python',4,40.95],[98762,'Programming Java',5,56.80],[77226,'Head First C',3,32.95],[88112,'Intro to AI',3,24.99]]
result=list(map(lambda x:(x[0], x[2]*x[3] if x[2]*x[3]>=100 else x[2]*x[3]+10), orders))
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]