---

## Practical Questions (Python Basics) (Code)

### 1) Print `"Hello, World!"`

In [2]:
print("Hello, World!")

Hello, World!

### 2) Display your name and age

In [1]:
# Example (no input required)
name = "Mohit"  # change as needed
age = 22        # change as needed
print(f"My name is {name} and I am {age} years old.")

# If input is required, uncomment below:
# name = input("Enter your name: ")
# age = int(input("Enter your age: "))
# print(f"My name is {name} and I am {age} years old.")

My name is Mohit and I am 22 years old.

### 3) Print all pre-defined keywords in Python

In [3]:
import keyword
print("Total keywords:", len(keyword.kwlist))
print(keyword.kwlist)

Total keywords: 35
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### 4) Check if a given word is a Python keyword

In [4]:
import keyword

# Example run
word = "for"  # change to test different words
print(f"{word!r} is a keyword?", keyword.iskeyword(word))

# Input-based version (uncomment to use):
# word = input("Enter a word: ").strip()
# print(f"{word!r} is a keyword?", keyword.iskeyword(word))

'for' is a keyword? True

### 5) Create a list and tuple; try changing an element in each

In [5]:
# List is mutable
lst = [1, 2, 3]
lst[1] = 99
print("Modified list:", lst)

# Tuple is immutable â€” trying to assign raises a TypeError
tpl = (1, 2, 3)
print("Original tuple:", tpl)
try:
    tpl[1] = 99
except TypeError as e:
    print("Attempt to modify tuple failed:", e)

Modified list: [1, 99, 3]
Original tuple: (1, 2, 3)
Attempt to modify tuple failed: 'tuple' object does not support item assignment

### 6) Function to demonstrate behavior of mutable vs. immutable arguments

In [6]:
def touch_values(x, a_list):
    # try to modify both
    x += 1              # integers are immutable; this rebinds local x
    a_list.append(99)   # lists are mutable; this mutates the original list
    print("Inside function -> x:", x, "| a_list:", a_list)

num = 10
items = [1, 2, 3]
print("Before -> num:", num, "| items:", items)
touch_values(num, items)
print("After  -> num:", num, "| items:", items)

Before -> num: 10 | items: [1, 2, 3]
Inside function -> x: 11 | a_list: [1, 2, 3, 99]
After  -> num: 10 | items: [1, 2, 3, 99]

### 7) Basic arithmetic operations on two numbers

In [7]:
# Example (no input required)
a, b = 12, 5

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)     # float division
print("a // b =", a // b)   # floor division
print("a % b =", a % b)     # modulus
print("a ** b =", a ** b)   # exponentiation

# Input-based version (uncomment to use):
# a = float(input("Enter first number: "))
# b = float(input("Enter second number: "))
# print("a + b =", a + b)
# print("a - b =", a - b)
# print("a * b =", a * b)
# print("a / b =", a / b)
# print("a // b =", a // b)
# print("a % b =", a % b)
# print("a ** b =", a ** b)

a + b = 17
a - b = 7
a * b = 60
a / b = 2.4
a // b = 2
a % b = 2
a ** b = 248832

### 8) Demonstrate the use of logical operators

In [8]:
A = True
B = False
print("A and B ->", A and B)
print("A or B  ->", A or B)
print("not A   ->", not A)

A and B -> False
A or B  -> True
not A   -> False

### 9) Convert user input from string to int, float, and boolean

In [9]:
# Example with a predefined string:
s = "10"
as_int = int(s)
as_float = float(s)
as_bool = bool(int(s))  # non-zero -> True; or use bool(s) which is True for non-empty strings
print(s, "-> int:", as_int, "| float:", as_float, "| bool:", as_bool)

# Input-based version (uncomment to use):
# s = input("Enter a value: ")
# print("As int:", int(s))
# print("As float:", float(s))
# print("As bool (non-empty string -> True):", bool(s))

10 -> int: 10 | float: 10.0 | bool: True

### 10) Demonstrate type casting with list elements

In [10]:
nums_as_str = ["1", "2", "3", "4"]
nums_as_int = [int(x) for x in nums_as_str]
nums_as_float = [float(x) for x in nums_as_str]
print("Original:", nums_as_str)
print("As int: ", nums_as_int)
print("As float:", nums_as_float)

Original: ['1', '2', '3', '4']
As int:  [1, 2, 3, 4]
As float: [1.0, 2.0, 3.0, 4.0]

### 11) Check if a number is positive, negative, or zero

In [11]:
# Example
n = -5  # change to test
if n > 0:
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

# Input-based version (uncomment to use):
# n = float(input("Enter a number: "))
# if n > 0:
#     print("Positive")
# elif n < 0:
#     print("Negative")
# else:
#     print("Zero")

Negative

### 12) For loop to print numbers from 1 to 10

In [12]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 13) Sum of all even numbers between 1 and 50

In [13]:
total = sum(i for i in range(1, 51) if i % 2 == 0)
print("Sum of even numbers from 1 to 50:", total)

Sum of even numbers from 1 to 50: 650

### 14) Reverse a string using a while loop

In [14]:
s = "PW Skills"  # change to test
rev = ""
i = len(s) - 1
while i >= 0:
    rev += s[i]
    i -= 1
print("Original:", s)
print("Reversed:", rev)

# Input-based version (uncomment to use):
# s = input("Enter a string: ")
# rev = ""
# i = len(s) - 1
# while i >= 0:
#     rev += s[i]
#     i -= 1
# print("Reversed:", rev)

Original: PW Skills
Reversed: sllikS WP

### 15) Factorial of a number using a while loop

In [15]:
n = 5  # change to test
if n < 0:
    print("Factorial is not defined for negative numbers.")
else:
    fact = 1
    i = 1
    while i <= n:
        fact *= i
        i += 1
    print(f"{n}! =", fact)

# Input-based version (uncomment to use):
# n = int(input("Enter a non-negative integer: "))
# if n < 0:
#     print("Factorial is not defined for negative numbers.")
# else:
#     fact = 1
#     i = 1
#     while i <= n:
#         fact *= i
#         i += 1
#     print(f"{n}! =", fact)

5! = 120

### (Bonus) Quick demo: `==` vs `is`

In [ ]:
a = [1,2,3]
b = [1,2,3]
c = a
print("a == b:", a == b)   # True: same contents
print("a is b:", a is b)   # False: different objects
print("a is c:", a is c)   # True: same object reference